<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::fragment-header">
    <title>
        REGISTER
    </title>
</head>

<body class="bg-gradient-primary">
<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/sidebar::fragment-sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="fragments/topbar::fragment-topbar"></div>
            <!-- End of Topbar -->

            <!-- 매장이 있어야 케이크 옵션 등록 가능 -->
            <div class="container-fluid" th:if="${session.operator.storeId != null}">
                <form th:action="@{/operator/cake-option-3}" th:object="${cakeOption3AddRequest}" method="post" >
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">옵션 등록</h1>
                        <!-- 옵션 정보 저장 Button -->
                        <button type="submit" class="btn btn-info btn-icon-split">
                            <span class="text text-white"> 저장 </span>
                            <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                        </button>
                    </div>
                    <!-- Store Register Form -->
                    <div class="row">
                        <div class="col-xl-12 col-md-12 mb-5">
                            <div class="card shadow mb-4 border-left-dark shadow h-100">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold " style="color: #694E4E">옵션 3 (기타 옵션)</h6>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                        <tr>
                                            <td>옵션 이름</td>
                                            <td>
                                                <input type="text" id="name" class="form-control" th:field="*{name}" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>가격</td>
                                            <td>
                                                <input type="number" id="price" class="form-control" th:field="*{price}" min="0" step="500">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- End Store Register Form -->
            </div>
            <!-- /.container-fluid -->

            <!-- Store is exist -->
            <div class="container-fluid" th:unless="${session.operator.storeId != null}">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">옵션 등록</h1>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-5">
                        <div class="card shadow mb-4 border-left-dark shadow h-auto" >
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold " style="color: #694E4E">옵션 3 (기타 옵션)</h6>
                            </div>
                            <div class="card-body">
                                <div>
                                    <p><b>매장을 등록해야 합니다!</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->


        <!-- Footer -->
        <div th:replace="fragments/footer::fragment-footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

    <!-- Logout Modal-->
    <div th:replace="fragments/logout-modal::fragment-logoutmodal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/bootstrap/js/sb-admin-2.min.js}"></script>

</body>

</html>