<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::fragment-header">
    <title th:replace="fragments/header::f-title">
        MANAGEMENT
    </title>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <div th:replace="fragments/sidebar::fragment-sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="fragments/topbar::fragment-topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">케이크 옵션 관리</h1>
                    </div>

                    <!-- 케이크 옵션 1 -->
                    <div class="row" >
                        <!-- Task Card Example -->
                        <div class="col-xl-12 col-md-12 mb-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6 class="m-0 font-weight-bold " style="color: #694E4E">옵션 1 (케이크 모양/사이즈/단)</h6>
                                        </div>
                                        <!-- 매장이 있어야 케이크 옵션 등록 가능 -->
                                        <div class="col-md-6" th:if="${session.operator.storeId != null}">
                                            <button type="button" class="btn btn-icon-split float-right"
                                                    th:onclick="|location.href='@{/operator/cake-option/form(storeId=${storeId},cakeOptionType=1)}'|" style="background-color: #5b7eb9; color: #fff">
                                                <span class="text text-white"> 추가 </span>
                                                <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>모양</th>
                                                <th>사이즈</th>
                                                <th>단</th>
                                                <th>레터링 제한</th>
                                                <th>가격</th>
                                                <th>사용 여부</th>
                                                <th>삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="option1 : ${allCakeOptionMap.get(1)}">
                                                <td th:switch="${option1.cakeShape.toString()}">
                                                    <p th:case="CIRCLE" th:text="원형"></p>
                                                    <p th:case="SQUARE" th:text="사각형"></p>
                                                    <p th:case="HEART" th:text="하트"></p>
                                                </td>
                                                <td th:switch="${option1.cakeSize.toString()}">
                                                    <p th:case="NO_0" th:text="도시락"></p>
                                                    <p th:case="NO_1" th:text="1호"></p>
                                                    <p th:case="NO_2" th:text="2호"></p>
                                                    <p th:case="NO_3" th:text="3호"></p>
                                                    <p th:case="NO_4" th:text="4호"></p>
                                                    <p th:case="NO_5" th:text="5호"></p>
                                                    <p th:case="NO_6" th:text="6호"></p>
                                                </td>
                                                <td th:switch="${option1.cakeLayer.toString()}">
                                                    <p th:case="LAYER_1" th:text="1단"></p>
                                                    <p th:case="LAYER_2" th:text="2단"></p>
                                                    <p th:case="LAYER_3" th:text="3단"></p>
                                                </td>
                                                <td th:text="|${option1.letteringLimit}자|" ></td>
                                                <td th:text="|${option1.price}원|" ></td>
                                                <td th:text="${option1.isUsed} ? '사용 가능': '사용 불가'"
                                                    th:style="${option1.isUsed ? 'color: #2e59d9;': 'color: #dc3545;'}">
<!--                                                    <input type="hidden" th:text="${option1.isUsed} ? '사용 가능': '사용 불가'"-->
<!--                                                           th:style="${option1.isUsed ? 'color: #2e59d9;': 'color: #dc3545;'}">-->
<!--                                                    <input type="checkbox" data-toggle="toggle" th:checked="${option1.isUsed}" />-->
                                                </td>
                                                <td>
                                                    <form th:action="@{/operator/cake-option/{cakeOptionId}(cakeOptionId=${option1.id},storeId=${storeId},cakeOptionType=${1})}"
                                                          th:method="delete" >
                                                        <button class="btn btn-secondary" type="submit">삭제</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 케이크 옵션 2 -->
                    <div class="row" >
                        <!-- Task Card Example -->
                        <div class="col-xl-12 col-md-12 mb-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6 class="m-0 font-weight-bold " style="color: #694E4E">옵션 2 (케이크 시트/속크림/겉크림)</h6>
                                        </div>
                                        <div class="col-md-6" th:if="${session.operator.storeId != null}">
                                            <button type="button" class="btn btn-icon-split float-right"
                                                    th:onclick="|location.href='@{/operator/cake-option/form(storeId=${storeId},cakeOptionType=2)}'|" style="background-color: #5b7eb9; color: #fff">
                                                <span class="text text-white"> 추가 </span>
                                                <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>시트</th>
                                                <th>속크림</th>
                                                <th>겉크림</th>
                                                <th>가격</th>
                                                <th>사용 여부</th>
                                                <th>삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="option2 : ${allCakeOptionMap.get(2)}">
                                                <td th:switch="${option2.cakeSheet.toString()}">
                                                    <p th:case="BANILLA_SHEET" th:text="바닐라시트"></p>
                                                    <p th:case="CHOCO_SHEET" th:text="초코시트"></p>
                                                    <p th:case="EARL_GREY_SHEET" th:text="얼그레이시트"></p>
                                                    <p th:case="MOCHA_SHEET" th:text="모카시트"></p>
                                                    <p th:case="MATCHA_SHEET" th:text="말차시트"></p>
                                                </td>
                                                <td th:switch="${option2.cakeInnerCream.toString()}">
                                                    <p th:case="CREAMCHEESE" th:text="크림치즈"></p>
                                                    <p th:case="CHOCO" th:text="초코크림"></p>
                                                    <p th:case="COOKIE" th:text="쿠키크림"></p>
                                                    <p th:case="BUTTER" th:text="버터크림"></p>
                                                    <p th:case="MILK" th:text="우유생크림"></p>
                                                    <p th:case="STRAWBERRY" th:text="딸기생크림"></p>
                                                    <p th:case="RASPBERRY" th:text="라즈베리크림"></p>
                                                    <p th:case="BLUEBERRY" th:text="블루베리크림"></p>
                                                </td>
                                                <td th:switch="${option2.cakeOuterCream.toString()}">
                                                    <p th:case="CREAMCHEESE" th:text="크림치즈"></p>
                                                    <p th:case="CHOCO" th:text="초코크림"></p>
                                                    <p th:case="COOKIE" th:text="쿠키크림"></p>
                                                    <p th:case="BUTTER" th:text="버터크림"></p>
                                                    <p th:case="MILK" th:text="우유생크림"></p>
                                                    <p th:case="STRAWBERRY" th:text="딸기생크림"></p>
                                                    <p th:case="RASPBERRY" th:text="라즈베리크림"></p>
                                                    <p th:case="BLUEBERRY" th:text="블루베리크림"></p>
                                                </td>
                                                <td th:text="|${option2.price}원|" ></td>
                                                <td th:text="${option2.isUsed} ? '사용 가능': '사용 불가'"
                                                    th:style="${option2.isUsed ? 'color: #2e59d9;': 'color: #dc3545;'}">
<!--                                                    <input type="hidden" th:text="${option2.isUsed} ? '사용 가능': '사용 불가'" />-->
                                                    <!--                                                    <input type="checkbox" data-toggle="toggle" th:checked="${option1.isUsed}" />-->
                                                </td>
                                                <td>
                                                    <form th:action="@{/operator/cake-option/{cakeOptionId}(cakeOptionId=${option2.id},storeId=${storeId},cakeOptionType=${2})}"
                                                          th:method="delete" >
                                                        <button class="btn btn-secondary" type="submit">삭제</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 케이크 옵션 3 -->
                    <div class="row" >
                        <!-- Task Card Example -->
                        <div class="col-xl-12 col-md-12 mb-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6 class="m-0 font-weight-bold " style="color: #694E4E">옵션 3 (기타 옵션)</h6>
                                        </div>
                                        <div class="col-md-6" th:if="${session.operator.storeId != null}">
                                            <button type="button" class="btn btn-icon-split float-right"
                                                    th:onclick="|location.href='@{/operator/cake-option/form(storeId=${storeId},cakeOptionType=3)}'|" style="background-color: #5b7eb9; color: #fff">
                                                <span class="text text-white"> 추가 </span>
                                                <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>옵션 이름</th>
                                                <th>가격</th>
                                                <th>사용 여부</th>
                                                <th>삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="option3 : ${allCakeOptionMap.get(3)}">
                                                <td th:text="${option3.name}"></td>
                                                <td th:text="|${option3.price}원|" ></td>
                                                <td th:text="${option3.isUsed} ? '사용 가능': '사용 불가'"
                                                    th:style="${option3.isUsed ? 'color: #2e59d9;': 'color: #dc3545;'}">
<!--                                                    <input type="hidden" th:text="${option3.isUsed} ? '사용 가능': '사용 불가'" />-->
                                                    <!--                                                    <input type="checkbox" data-toggle="toggle" th:checked="${option1.isUsed}" />-->
                                                </td>
                                                <td>
                                                    <form th:action="@{/operator/cake-option/{cakeOptionId}(cakeOptionId=${option3.id},storeId=${storeId},cakeOptionType=${3})}"
                                                          th:method="delete" >
                                                        <button class="btn btn-secondary" type="submit">삭제</button>
                                                    </form>
                                                </td>
                                                <!--                                                <td><p th:text="${storeId}"></p></td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="fragments/footer::fragment-footer"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="fragments/logout-modal::fragment-logoutmodal"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/bootstrap/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/bootstrap/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/bootstrap/js/demo/datatables-demo.js}"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable1, #dataTable2, #dataTable3').DataTable();
        });
    </script>
</body>

</html>