<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::fragment-header">
    <title th:replace="fragments/header::f-title">
        MANAGEMENT
    </title>
</head>

<style>
    .chat_wrap .header {
        font-size: 14px;
        padding: 15px 0;
        background: #F18C7E;
        color: white;
        text-align: center;
    }

    .chat_wrap .chat {
        padding-bottom: 80px;
    }

    .chat_wrap .chat ul {
        width: 100%;
        list-style: none;
    }

    .chat_wrap .chat ul li {
        width: 100%;
    }

    .chat_wrap .chat ul li.left {
        text-align: left;
    }

    .chat_wrap .chat ul li.right {
        text-align: right;
    }

    .chat_wrap .chat ul li > div {
        font-size: 13px;
    }

    .chat_wrap .chat ul li > div.sender {
        margin: 10px 20px 0 20px;
        font-weight: bold;
    }

    .chat_wrap .chat ul li > div.message {
        display: inline-block;
        word-break: break-all;
        margin: 5px 20px;
        max-width: 75%;
        border: 1px solid #888;
        padding: 10px;
        border-radius: 5px;
        background-color: #FCFCFC;
        color: #555;
        text-align: left;
    }

    .chat_wrap .input-div {
        /*position: fixed;*/
        /*bottom: 0;*/
        width: 100%;
        background-color: #FFF;
        text-align: center;
        border-top: 1px solid #F18C7E;
    }

    .chat_wrap .input-div > textarea {
        width: 100%;
        height: 80px;
        border: none;
        padding: 10px;
    }

    .format {
        display: none;
    }

    #ulMessageList {
        /*display: flex;*/
        flex-direction: column-reverse;
        overflow-y: auto;
        height: 500px;
    }
</style>

<body id="page-top" th:onload="|loadOperatorChatRoomList('${session.operator.id}', 'COMPLETED'); init('${session.operator.id}');|">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <div th:replace="fragments/sidebar::fragment-sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="fragments/topbar::fragment-topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">채팅 관리 > 커스텀 주문</h1>
                    </div>
                    <div class="row" >
                        <div id="left-div" class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6 class="m-0 font-weight-bold " style="color: #694E4E">신규 채팅</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>메시지</th>
                                                <th>시간</th>
                                            </tr>
                                            </thead>
                                            <tbody id="ulChatRoomList">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="right-div" class="col-xl-6 col-lg-6" hidden="hidden">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold " style="color: #694E4E">채팅방</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chat_wrap">
                                        <div class="header">
                                            <span id="spTitle"></span>
                                        </div>
                                        <div id="customOrderSheet">
                                        </div>
                                        <hr>
                                        <div class="chat" id="chat">
                                            <ul id="ulMessageList" style="padding-left: 0px;">
                                                <!-- 동적 생성 -->
                                            </ul>
                                        </div>
                                        <div class="input-div">
                                            <textarea id="input-message" placeholder="메시지를 입력해주세요."></textarea>
                                        </div>
                                        <!-- format -->
                                        <div class="chat format">
                                            <ul>
                                                <li>
                                                    <div class="sender">
                                                        <span></span>
                                                    </div>
                                                    <div class="message">
                                                        <span></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <div th:replace="fragments/footer::fragment-footer"></div>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script>
        function removeHiddenAttr() {
            $('#right-div').removeAttr('hidden');
        }

        // datable sorting 해제
        $('#dataTable').dataTable({
            "columnDefs": [
                {"orderable": false, "targets": [0, 1, 2, 3]}
            ]
        });
    </script>

    <!-- template 채팅룸 리스트 영역 -->
    <script type="text/template" id="templateChatRoomList">
        <tr id="tr<%=targetChatRoomUid %>" data-targetChatRoomUid="<%=targetChatRoomUid %>"
            data-roomUserName="<%=roomUserName %>" data-customCakeInfoId="<%=customCakeInfoId %>" onclick="removeHiddenAttr()">
            <td><span class="title"><%=roomUserName %></span></td>
            <td><span class="title"><%=lastMessage %></span></td>
            <td><span class="title" data-timestamp="<%=timestamp %>"><%=timestamp %></span></td>
        </tr>
    </script>

    <!-- template 채팅 메시지 리스트 영역 -->
    <script type="text/template" id="templateMessageList">
        <li id="li<%=memberUid %>" data-sender="<%=sender %>" data-senderType="<%=senderType %>"
            class="collection-item avatar list">
            <img src="" alt="" class="circle">
            <span class="title"><%=key %></span>
            <span class="title"><%=sender %></span>
            <span class="title"><%=message %></span>
            <span class="title"><%=timestamp %></span>
        </li>
    </script>

    <!-- template 커스텀 주문 영역 -->
    <!-- TODO 서버에 있는 데이터 가져오기 -->
    <script type="text/template" id="templateCustomOrderSheet">
        <div class="d-flex justify-content-center p-2">
            <div class="col-lg-6">
                <h5 class="font-weight-bold " style="color: #694E4E">커스텀 디자인</h5>
                <img src="<%=designImage %>" alt="" style="width: 15rem;">
                </p>
            </div>
            <div class="col-lg-6">
                <h5 class="font-weight-bold " style="color: #694E4E">첨부 사진</h5>
                <% _.each(additionalImageList, function(image) { %>
                <img src="<%= image %>" alt="" style="width: 10rem;">
                <% }); %>
            </div>
        </div>
        <div class="d-flex justify-content-center p-2">
            <div class="col-lg-6">
                <h6 class="mb-0 font-weight-bold " style="color: #694E4E">1. 케이크 모양 및 크기</h6>
                <b class="mt-0 mb-2"><%=option1Value %></b>
                <h6 class="mb-0 font-weight-bold " style="color: #694E4E">2. 케이크 시트 및 맛</h6>
                <b class="mt-0 mb-2"><%=option2Value %></b>
                <h6 class="mb-0 font-weight-bold " style="color: #694E4E">3. 기타</h6>
                <b class="mt-0 mb-2"><%=option3Value %></b>
                <h6 class="mb-0 font-weight-bold " style="color: #694E4E">4. 요청사항</h6>
                <b><%=requirements %></b>
                <h6 class="mb-0 font-weight-bold " style="color: #694E4E">5. 픽업 날짜</h6>
                <b><%=pickupDatetime %></b>
            </div>
            <div class="col-lg-6">
<!--                <input type="number" class="form-control mb-2" id="payment-amount" placeholder="최종 가격을 입력해주세요."-->
<!--                       min="0" style="width: 100%; height: 40px;" required="required"/>-->
<!--                <textarea type="text" class="form-control" id="other-requirements" placeholder="추가 요구사항을 입력해주세요." style="width: 100%; height: 180px;"></textarea>-->
            </div>
        </div>
    </script>


    <!-- Logout Modal-->
    <div th:replace="fragments/logout-modal::fragment-logoutmodal"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/bootstrap/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/bootstrap/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/bootstrap/js/demo/datatables-demo.js}"></script>

</body>

</html>