<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::fragment-header">
    <title th:replace="fragments/header::f-title">
        MANAGEMENT
    </title>
</head>

<body id="page-top" th:onload="|loadOperatorChatRoomList('${session.operator.id}', 'NEW')|">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <div th:replace="fragments/sidebar::fragment-sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="fragments/topbar::fragment-topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">채팅 관리 > 커스텀 주문</h1>
                    </div>

                    <div class="row" >
                        <div class="col-xl-12 col-md-12 mb-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6 class="m-0 font-weight-bold " style="color: #694E4E">신규 채팅</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div>
<!--                                        <ul id="ulChatRoomList">-->
<!--                                        </ul>-->
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th id="profile1" class="no-sort">프로필</th>
                                                    <th class="no-sort">이름</th>
                                                    <th class="no-sort">메시지</th>
                                                    <th class="no-sort">시간</th>
    <!--                                                <th>날짜</th>-->
                                                </tr>
                                            </thead>
                                            <tbody id="ulChatRoomList">
<!--                                                <tr>-->
<!--                                                    <td><img src="" alt="프로필" class="img-thumbnail mt-1 mb-2 col-6"></td>-->
<!--                                                    <td><span class="title"><%=roomUserName %></span></td>-->
<!--                                                    <td><span class="title"><%=lastMessage %></span></td>-->
<!--                                                    <td><span class="title"><%=timestamp %></span></td>-->
<!--                                                </tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <div th:replace="fragments/footer::fragment-footer"></div>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- template 채팅룸 리스트 영역 -->
    <script type="text/template" id="templateChatRoomList">
        <tbody id="tbody<%=targetChatRoomUid %>" data-targetOperatorUid="<%=targetChatRoomUid %>" data-roomUserName="<%=roomUserName %>">
            <tr>
                <td><img src="" alt="프로필" class="img-thumbnail mt-1 mb-2 col-6"></td>
                <td><span class="title"><%=roomUserName %></span></td>
                <td><span class="title"><%=lastMessage %></span></td>
                <td><span class="title"><%=timestamp %></span></td>
            </tr>
        </tbody>
    </script>

<!--    <script type="text/template" id="templateChatRoomList">-->
<!--        <li id="li<%=targetChatRoomUid %>" data-targetOperatorUid="<%=targetChatRoomUid %>" data-roomUserName="<%=roomUserName %>"-->
<!--            class="collection-item avatar list">-->
<!--            <img src="" alt="" class="circle">-->
<!--            <span class="title"><%=roomUserName %></span>-->
<!--            <span class="title"><%=lastMessage %></span>-->
<!--            <span class="title"><%=timestamp %></span>-->
<!--            <span class="small material-icons right hiddendiv done">done</span>-->
<!--            <span class="small material-icons right hiddendiv mood yellow-text">mood</span>-->
<!--        </li>-->
<!--    </script>-->

    <!-- Logout Modal-->
    <div th:replace="fragments/logout-modal::fragment-logoutmodal"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/bootstrap/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/bootstrap/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/bootstrap/js/demo/datatables-demo.js}"></script>
    <script>
        $('#dataTable').dataTable({
            "columnDefs": [
                { "orderable": false, "targets": [0,1,2,3] }
            ]
        });
    </script>
</body>

</html>