<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387687894137-barocpdig55jj6us6qs5agl5runkoa39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387687894137-barocpdig55jj6us6qs5agl5runkoa39</string>
	<key>API_KEY</key>
	<string>AIzaSyCVPFPITFCHJ1sNgVbtNudWlQO67SYEsPI</string>
	<key>GCM_SENDER_ID</key>
	<string>387687894137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftie.custom-cake-frontend</string>
	<key>PROJECT_ID</key>
	<string>cau-custom-cake</string>
	<key>STORAGE_BUCKET</key>
	<string>cau-custom-cake.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387687894137:ios:89bb473143dce19dfcd8a8</string>
	<key>DATABASE_URL</key>
	<string>https://cau-custom-cake-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>