<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>

    <div id="sidebar" th:fragment="fragment-sidebar">
        <!-- Sidebar C89595: 약간 더 톤다운, F3C5C5: 밝음, F2B4B4: 덜 밝음-->
        <ul class="navbar-nav sidebar sidebar-dark accordion " id="accordionSidebar"
            style="background-color: #EEB0B0; height: 100%">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-birthday-cake"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Custom Cake</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>대시보드</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                MANAGEMENT
            </div>

            <!-- Nav Item - 매장 관리 -->
            <li class="nav-item">
                <!-- PathVariable -->
                <a class="nav-link" th:href="@{/operator/store}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>매장 관리</span></a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseItemManagement"
                   aria-expanded="true" aria-controls="collapseItemManagement">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>상품 관리</span>
                </a>
                <div id="collapseItemManagement" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Cake Components:</h6>
                        <a class="collapse-item" th:href="@{/operator/cake-item}">케이크 상품</a>
                        <a class="collapse-item" th:href="@{/operator/cake-option}">케이크 옵션</a>
                    </div>
                </div>
            </li>

            <!-- 채팅 관리 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseChatManagement"
                   aria-expanded="true" aria-controls="collapseChatManagement">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>채팅 관리</span>
                </a>
                <div id="collapseChatManagement" class="collapse" aria-labelledby="headingChatManagement"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Chatting Status:</h6>
                        <a class="collapse-item" th:href="@{/operator/chat(chatStatus=${'NEW'})}">신규채팅</a>
                        <a class="collapse-item" th:href="@{/operator/chat(chatStatus=${'IN_PROGRESS'})}">채팅진행중</a>
                        <a class="collapse-item" th:href="@{/operator/chat(chatStatus=${'COMPLETED'})}">결제완료</a>
<!--                        <a class="collapse-item" th:href="@{/other}">주문취소</a>-->
                    </div>
                </div>
            </li>

            <!-- 주문 관리 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrderManagement"
                   aria-expanded="true" aria-controls="collapseOrderManagement">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>주문 관리</span>
                </a>
                <div id="collapseOrderManagement" class="collapse" aria-labelledby="headingOrderManagement"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Order Status:</h6>
                        <a class="collapse-item" th:href="@{/colors}">신규주문</a>
                        <a class="collapse-item" th:href="@{/borders}">주문진행중</a>
                        <a class="collapse-item" th:href="@{/animations}">픽업완료</a>
                        <a class="collapse-item" th:href="@{/other}">주문취소</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" th:href="@{/operator/login}">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/charts}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/tables}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>
            <!-- Nav Item - cards -->
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/cards}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Cards</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
<!--            <div class="sidebar-card d-none d-lg-flex">-->
<!--                <img class="sidebar-card-illustration mb-2" th:src="@{/bootstrap/img/undraw_rocket.svg}" alt="..." />-->
<!--                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>-->
<!--            </div>-->

        </ul>
        <!-- End of Sidebar -->
    </div>
</body>
</html>
